.outerRange {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid #afcbff;
  padding: 10px;
}

.outerRange,
.innerRange {
  border-radius: 50%;
  width: 400px;
  aspect-ratio: 1/1;
}

.button {
  position: absolute;
  top: -25px;
  right: 44%;
  width: 40px;
  transform-origin: center 215px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: #7C83FD;;
  &:hover {
    cursor: pointer;
  }
}
